.container-qsomos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: 3% 7% 7% 7%;
    grid-gap: 20px; /* Espaçamento igual entre os cards */
}

.card-qsomos {
    background-color: white;
    box-sizing: border-box;
    overflow: hidden; /* esconde o conteúdo que excede as dimensões do card */
    text-align: justify;
    align-items: left;
}

.card-qsomos img {
    width: 100px;
    margin-left: 30%;
}

.card-qsomos h2, .card-qsomos p {
    margin: 3%;
}

@media (max-width:800px) {
    .container-qsomos {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

  
}
