.local {
    display: grid;
    grid-template-columns: 1fr ;
    gap: 0 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .local h2 {
    grid-column: 1;
    margin: 2% 10%;
  }
#local-mapa{
  width: 75%;
  height: 370px;
  border: 0;
}  
  .local-item{
    margin: 0 auto;
  }
  
  @media (max-width: 1024px) {
    .local {
      gap: 20px;
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .local h2 {
      margin-bottom: 32px;
    }
    iframe[src]{
      width: 820px;
      height: 320px;
    } 
  }
  
  @media (max-width: 600px) {
    .local {
      grid-template-columns: 1fr;
    }
  }
  