.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form label {
  display: block;
  font: 400 1rem/1.2 "Poppins", sans-serif;
  margin-bottom: 4px;
}

.form .col-2 {
  grid-column: span 2;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  font: 400 1rem/1.2 "Roboto", sans-serif;
  background: var(--cor-1);

  padding: 12px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
  outline: none;
 
  background: var(--cor-0);
  /* box-shadow: 0 0 0 2px #fea; */
}

#botao-form {
  color: var(--cor-12);
  height: 35px;
  width: 70%;
  margin: 0 auto;
  color: black;
  background-color: var(--cor-p1);
  border-radius: 7px;
  font-weight: bolder;
  font-size: 0.9rem;
  cursor: pointer;
}

@media (max-width: 600px) {
  .form {
    grid-template-columns: 1fr;
  }

  .form .col-2 {
    grid-column: 1;
  }
  

}
input:invalid {
  border: 2px dashed rgba(196, 25, 25, 0.854);
}

input:valid {
  border: 2px solid black;

}

#success-message{
  
  font-size: 0.73rem;

  width: 100%;
}

.form span{
  font-size: 0.6rem;
}