.footer-bg {
    background-color: var(--cor-12);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 2% 9% 1% 9%;
}
 .footer-redes{
    margin: 40px;    
}
.footer h3 {
    margin-bottom: 22px;
    margin-left: 25px;
    font-size: 3.6vh;
}

.footer-informacoes ul a {
    padding: 0;
}

.footer-contato li a {
    padding: 0;
    color: var(--cor-5);
}

.footer-contato ul {
    margin-bottom: 12px;
}

.menu-footer {
    text-align: start;
}

.footer li {
    margin-bottom: 16px;
}

.footer-redes {
    display: flex;
    align-items: center;
    gap: 32px;
}

.footer a:hover {
    color: var(--cor-0);
}

.footer-copy {
    width: 100%;
    text-align: center;
}

.menu-footer ul {
    display: block;
}
.menu-footer a{
    color: var(--cor-3);
}
.menu-footer a::after {
    color: #ffffff;
}

@media (max-width:600px) {
    .footer{
       display: block;
       justify-content: left;
        text-align: justify;
        margin: 0;
    }

    .footer h3{
        font-size: 3.6vh;
    }
    .footer img{
        margin-left: 5%;
    }
    .footer-contato{
        margin-top: 30px;
    }

    .footer-copy{
        margin-left: 5%;
        font-size: 2.5vh;
    }
}