li a {
  padding: 0 15px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  background-color: black;
  padding-left: 10%;
}

.logo {
  cursor: pointer;
}

nav ul {
  padding-right: 4%;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
}

.menu li a:hover {
  color: rgb(236, 25, 25);
}

.menu li {
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
.menu-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: -45px;
  color: white;
  min-width: 300px;
  z-index: 1;
  text-align: left;
}

.menu-dropdown li:first-child {
  margin-top: 15px;
  padding: 5px;
}

.menu-dropdown li {
  padding: 3px;
}

/* Links inside the dropdown */
.menu-dropdown a {
  display: block;
}

/* Show the dropdown menu on hover */
.menu li:hover .menu-dropdown {
  display: block;
  background-color: black;
}

.hamburger-menu {
  display: none;
  margin-right: 10px;
}

.hide {
  display: none;
}

.close-menu.show {
  display: block;
}

.close-menu i {
  display: none;
}

.menu-h {
  display: none;
}

@media (max-width:481px) {
  .menu-btns {
    position: absolute;
    right: 0;
    top: 0;
    padding: 45px 13%;
  }

  .menu {
    display: none;
  }

  .hamburger-menu,
  .close-menu {
    display: block;
    position: inherit;
    font-size: 2rem;
    color: #ffffff;
    cursor: pointer;
  }

  .menu-h {
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    padding: initial;
  }

  .menu li:hover .menu-dropdown {
    display: none;
    font-size: 1rem;
  }

  .menu-dropdown li:first-child {
    padding-top: 0;
  }

  .menu-h li {
    padding: 1%;
    text-transform: capitalize;
  }

  .menu-h li a {
    font-size: 1.1em;
    padding-top: 2px;
  }

  .menu-h.show {
    top: 110px;
    height: 35vh;
    background-color: black;
    padding-bottom: 10px;
  }

  .close-menu.show .hamburger-menu {
    transform: rotate(360deg);
  }

  .close-menu {
    display: block;
    cursor: pointer;
  }

  .menu-h.show {
    display: flex;
    flex-direction: column;
    /* justify-content: end; */
    margin-top: 10px;
  }

  .menu-h.show ul {
    padding-top: 10px;
    justify-content: start;
    font-size: 0.9em;
  }

  .menu .show .close-menu {
    display: block;
  }
}