.introducao-bg {
    display: flex;
    justify-content: space-around;
    padding: 2% 7%;
    margin-top: 40px;
}

.introducao-sobre {
    float: left;
    width: 40%;
    text-align: left;
}

.introducao-sobre p {
    padding: 10px 0;
}

.intro-img {
    float: right;
    width: 50%;
}

.introducao img {
    float: right;
    min-width: 300px;
    height: 350px;
    object-fit: contain;
    border-radius: 4px;
    clear: both;
}

.introducao h1 {
    margin-bottom: 3px;
}

.introducao h2 {
    margin-bottom: 15px;
}

span.barra-sub-titulo {
    font-weight: bolder;
    margin-left: 7px;
}

@media (max-width:900px) {
    .introducao-bg {
        padding-top: 40px;
        padding: 2% 2%;
    }

    .introducao {
        width: 100%;
        padding-top: 15px;
    }

    .introducao-sobre {
        margin: 0 10%;
        width: 80%;
    }

    .introducao-sobre p {
        padding: 10px 0;
    }

    .intro-img {
        display: none;
    }

    .introducao h1 {
        margin-bottom: 15px;
        margin-top: 0;
    }

    .introducao img {

        margin-top: 10px;
    }
}