.introducao-bg {
    background: var(--cor-8);
    padding: 2% 7%;
}

.introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 40px;
}

.introducao-sobre p {
    margin-top: 20px;
    font-size: 3vh;
}

.introducao-sobre {
    padding-top: 45px;
}


.introducao img {
    max-width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 4px;
    /* margin-top: 50px; */
}

.introducao h1 {
    margin-bottom: 3px;
}

.introducao h2 {
    margin-bottom: 15px;

}

.introducao span {
    font-size: 1.3em;
}

span.barra-sub-titulo {
    font-weight: bolder;
    margin-left: 7px;
}

@media (max-width:767px) {
    .introducao-bg {
        background: var(--cor-11);
        padding-top: 40px;
        padding: 2% 5%;

    }

    .introducao {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .introducao-sobre {
        padding-top: 65px;
        font-size: 2.6vh;
    }

    .introducao h1 {
        margin-bottom: 15px;
        margin-top: 0;
    }

    .introducao img {
        height: 300px;
        width: 100%;
        margin: 5px;
    }
}

@media (min-width:768px) and (max-width:1023px) {

    .introducao-bg {
        background: var(--cor-11);
        padding-top: 40px;
        padding: 4% 5%;

    }

    .introducao-sobre p {
        font-size: 2.8vh;
    }

    .introducao img {
        width: 100%;
        object-fit: cover;
        border-radius: 4px;
        margin-top: 50px;

    }
}