.container-fisca-obras {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
    gap: 0%;
}

.card-obras {
    box-shadow: 0 4px 6px rgba(185, 179, 179, 0.828);
    background-color: white;
    box-sizing: border-box;
    max-width: 290px;
    height: auto;
    overflow: hidden;
    cursor: pointer;
    margin: 0 0 5% 0;
    position: relative;
    transition: margin-bottom 0.3s ease;
}

.hover-button {
    opacity: 0;
    margin-top: -25px;
    transform: translateY(100%);
    text-align: center;
    z-index: 1;
    padding-bottom: 2px;
}

.btn-hover {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
}

.btn-hover:hover {
    background-color: #ffbb00;
    color: #000;

}

.btn-hover:active {
    transform: translateY(2px);
}

.card-obras:hover .hover-button {
    opacity: 1;
    transform: translateY(0%);
}

.titulo-card {
    background: var(--cor-0);
    position: relative;
    bottom: 40px;
    width: 60%;
}

.titulo-card>span {
    padding-left: 15px;
}

.titulo-card p {
    padding: 5px 15px;
}

.titulo-card .valor {
    margin-top: 10px;
}

.list-card-obras {
    list-style-type: disc;
    margin: 5% 0 0 0;
    width: 140%;
}

.list-card-obras li {
    padding-top: 4px;
}

.card-obras li {
    font-size: 2.5vh;
}

.barra-titulo {
    padding-right: 10px;
}

@media (max-width: 767px) {

    .container-fisca-obras {
        flex-direction: column;
        align-items: center;
    }

    .card-obras li {
        padding-top: 7px;
    }

    .card-obras {
        max-width: 290px;
    }

}

@media (max-width:1024px) and (min-width:768px) {
    .container-fisca-obras {
        display: flex;
        flex-wrap: wrap;
        gap: 4%;
    }

    .card-obras {
        margin: 3% 1%;
        box-shadow: 0 4px 6px rgba(185, 179, 179, 0.828);
        background-color: white;
        box-sizing: border-box;
        width: 100%;
        height: auto;
        overflow: hidden;
        cursor: pointer;
    }

    .card-obras li {
        font-size: 2.5vh;
    }
}