.container-fisca-obras {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
}

.card-obras {
    position: relative;
    box-shadow: 0 4px 6px rgba(185, 179, 179, 0.828);
    background-color: white;
    box-sizing: border-box;
    width: 350px;
    height: 520px;
    /* ajuste o tamanho do card conforme necessário */
    overflow: hidden;
    /* esconde o conteúdo que excede as dimensões do card */
    cursor: pointer;
    margin: 3% 4%;

}

.titulo-card {
    background: var(--cor-0);
    position: relative;
    bottom: 40px;
    width: 60%;
}

.titulo-card > span ,.valor-card > span{
    padding-left: 15px;
}

.titulo-card p {
    padding: 5px 15px;
}

.titulo-card .valor {
    margin-top: 10px;
}

.list-card-obras {
    list-style-type: disc;
    margin: 5% 0 0 0%;
    width: 120%;

}

.list-card-obras li {
    padding-top: 4px;
}

.valor-card {
    margin-top: 4%;
    margin-left: 5%;
    width: 120%;
}

.valor-card p {
    position: relative;
    /* padding-top: 7%; */
    /* margin-left: 5%; */
    width: 120%;
}

.valor-card-ultimo {
    margin-top: 50%;
    width: 150%;
    margin-left: 20px;
}


.card-obras li {
    font-size: 2.5vh;
}

.valor-card p {
    font-size: 3.5vh;
}

.barra-titulo{
    padding-right: 10px;
}

@media (max-width: 767px) {

    .container-fisca-obras {
        display: flex;
        flex-wrap: wrap;
        /* margin: 2%; */
    }

    .card-obras li {
        font-size: 2.9vh;
        padding-top: 7px;
    }

    .valor-card span {
        font-size: 2.9vh;

    }

    .valor-card p {
        font-size: 3.7vh;
        padding-top: 5px;
    }
    .valor-card-ultimo {
        margin-top: 40%;
        width: 150%;
        /* margin-left: 20px; */
    }

}

@media (max-width:1024px) and (min-width:768px) {
    .container-fisca-obras {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
    }

    .card-obras {
        width: 340px;
        height: 450px;
        margin: 2%;
    }
    .valor-card {
        margin-top: 5%;
        margin-left: 5%;
    }
    

    .card-obras li {
        font-size: 2.5vh;
    }

    .valor-card p {
        font-size: 3.5vh;
    }
    .valor-card-ultimo {
        margin-top: 35%;
        width: 150%;
        /* margin-left: 20px; */
    }
 
}