.container-fisca-obras {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    max-width: 100%;
    margin: 0 10px;
}

.card-obras {
    box-shadow: 0 4px 6px rgba(185, 179, 179, 0.828);
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    max-width: 340px; 
    height: auto;
    overflow: hidden;
    cursor: pointer;
    margin: 3% 5% 4% 10%;
}

.titulo-card {
    background: var(--cor-0);
    position: relative;
    bottom: 40px;
    width: 60%;
}

.titulo-card>span,
#card-micro>span,
#card-pequeno>span {
    padding-left: 15px;
}

.titulo-card p {
    padding: 5px 15px;
}

.titulo-card .valor {
    margin-top: 10px;
}

.list-card-obras {
    list-style-type: disc;
    margin: 5% 0 0 0%;
    width: 120%;
}

.list-card-obras li {
    padding-top: 4px;
}

#card-pequeno, #card-micro {
    margin-top: 15px;
}

#card-micro p,
#card-pequeno p {
    padding-left: 25px;
    width: 120%;
}

.valor-card-ultimo {
    padding: 10px 0 0 15px;
    width: 150%;

}

.valor-card-ultimo p span span {
    font-size: 0.2rem;
}

.card-obras li {
    font-size: 2.5vh;
}


.barra-titulo {
    padding-right: 10px;
}

@media (max-width: 767px) {

    .container-fisca-obras {
        display: flex;
        flex-wrap: wrap;
        margin: 0 2%;
    }

    .card-obras li {
        font-size: 2.9vh;
        padding-top: 7px;
    }


    #valor-card-ultimo {}

}

@media (max-width:1024px) and (min-width:768px) {
    .container-fisca-obras {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .card-obras {
        margin: 4% 2%;
        box-shadow: 0 4px 6px rgba(185, 179, 179, 0.828);
        background-color: white;
        box-sizing: border-box;
        width: 100%;
        max-width: 340px; 
        height: auto;
        overflow: hidden;
        cursor: pointer;
    }   

    .card-obras li {
        font-size: 2.5vh;
    }

    #valor-card-ultimo {}

}