.cont-galery {
    display: grid;
    grid-template-columns:  3fr 1fr;
    align-items: center;
    position: relative;
    gap: 10px;
    margin-top: 20px;
    border-radius: 15px 15px 15px;
    width: 65%;
    margin: 0 15%;
    padding: 10px;  
}

.column img {
    max-width: 96%;
    height: auto; 
    opacity: 0.8;
    cursor: pointer;
    object-fit: cover;
    border-radius: 4px;
    transition: border-color 0.3s ease, opacity 0.3s ease; 
    border: 2px solid transparent;
}

.column img:hover {
    opacity: 70%;
    border-color: #fff; 
}

.galery-imagens {
    display: none;
}

.galery-imagens.active {
    display: block;
}

.expanded {
    display: block !important;
    width: 100%;
    max-height: 100%;
    object-fit: fill;
    border: 2px solid #fff;
}
#expandedImg{
    width: 98%;
}

@media screen and (max-width: 767px) {
    .cont-galery {
        grid-template-columns: 1fr;
        grid-template-rows: auto 100px;
        align-items: start;
        padding-bottom: 10px;
        width: 100%;
        margin: 0 ;
    }
    
    .column {
        column-gap: 5px;
        order: 2;
    }

    .galery-imagens {
        order: 1;
    }

    .column {
        display: flex;
        width: 31.5%;
    }

}