.topicos-servicos {
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-content: flex-end;
    max-width: 100%;
    gap: 20px;
    margin: 3% 2% 5% 14%;

}


.topicos-servicos img {
    width: 45px;
    height: 45px;
    padding-bottom: 10px;
    margin-top: 4px;
}

.campo-topicos {
    display: flex;
    margin-top: 3%;
    line-height: 1.6px;
}

.campo-topicos p {
    display: flex;
    align-items: center;
    margin-left: 5px;
 
}


@media (max-width:767px) {

    .topicos-servicos {
        grid-template-columns: 2fr 2fr;
        margin: 3% 2% 5% 4%;

    }

    .campo-topicos{

    }
    .campo-topicos .campo-topicosUltimo:last-child{
      
        line-height: 16px;
    }
}
